@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>ICRC</h3>
    <h1>Hope Center</h1>
    <p class="lead">Sustainable Development Goal: 3  || Good Health & Well-Being</p>
    <p class="lead">Ensure healthy lives and promote well-being for all at all ages</p>
    <p> This the disater relieve hub | Find your missing loved ones are and what condition they are in</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Become a Worker</h2>
        <p>
            Join the ICRC Hope Center Team and save lives. You can register as a paramedic , an Infield Doctor or as a Volunteer.
            You will be helping people in disater/aggrevated circumstance situations all over the world. Your job is to quickly help
            as many people as possible on the scene with your medical Knowledge as well as getting them on the Hope Center system. This
            is so that the family members as well as friends can find this person as well as see what condition they are in.
        </p>
        <p><a class="btn btn-primary" @Html.ActionLink("Register Now", "RegisterOptions", "Home")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Looking for someone?</h2>
        <p>Use the Hope Center to find the person you looking for. Do this by either searching their name or by looking at our
        display boards if the person could not be identified by name.</p>
        <p><a class="btn btn-info" @Html.ActionLink("Find Now", "PatDisplay", "Patient") </a></p>
    </div>
</div>